<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Loja de Jogos</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Loja de Jogos</h1>
        </header>
        <main>
            <div id="list">
                <h3>Lista de Jogos</h3>
                <ul id="games-list"></ul>
            </div>
            <hr>
            <div id="create">
                <h3>Criar Novo Jogo</h3>
                <div id="form-send">
                    <input type="text" name="title" id="title" placeholder="Título do Jogo*">
                    <input type="number" , name="year" id="year" placeholder="Ano de Lançamento*">
                    <input type="number" name="price" id="price" placeholder="Valor do Jogo*">
                    <input type="submit" title="Enviar" id="send-btn">
                    <div id="required-input" class="hidden">
                        <h5>Preencha todos os campos marcados com *</h5>
                    </div>
                </div>
            </div>
            <hr>
        </main>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="module" src="../scripts/script.js"></script>

</html>